@model StoreProject.Models.User

<h3>Are you sure you want to lock this user on 1 day?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="submit" value="Lock" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>